/* Card Name */
.card.mb-3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.card-group{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
